.body {
  max-width: 1200px;
  min-width: 800px;
  margin: 0 auto;
}
.header {
  border: 1px solid #00000057;
  border-radius: 10px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.input {
  background-color: #c2c2c25e;
  border-radius: 12px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 30px;
  gap: 20px;
  font-size: 20px;
}
.input-text {
  height: 35px;
  width: 250px;
  border: 0px;
  border-radius: 15px;
  padding: 3px;
}
.list-text {
  font-size: 30px;
  font-weight: 500;
  margin: 15px;
}
.add-button {
  border: none;
  height: 40px;
  border-radius: 10px;
  background-color: rgba(127, 255, 212, 0.527);
  width: 140px;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  margin-left: auto;
  color: black;
}
.list-box {
  background-color: rgb(255, 255, 255);
  height: 180px;
  width: 400px;
  border: 4px solid darkblue;
  padding: 20px 10px 10px 10px;
  border-radius: 12px;
  margin-top: 30px;
}
.todo-title {
  font-size: 30px;
  padding: 10px 10px 10px 10px;
  font-weight: 600;
  text-align: center;
}
.todo-body {
  font-size: 20px;
  margin: 10px 10px 20px 10px;
  text-align: center;
}
.delete-btn {
  cursor: pointer;
  margin-left: 20%;
  border: 3px solid red;
  background-color: #fff;
  height: 50px;
  width: 100px;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 800;
}
.done-btn {
  cursor: pointer;
  margin-left: 40px;
  border: 3px solid green;
  background-color: #fff;
  height: 50px;
  width: 100px;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 800;
}
.list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
